/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common utility */
html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

/*------------------ 
header css start
--------------------*/

.head-container{
    width: 100%;
    height: 677px;
   background-color: #2D25A0;
   padding-top: 36px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding-left: 156px;

}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 26px;
 
    
}
.loginbutton button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #E02C6D;
    height: 44px;
    width: 123px;      
    border: none;
    cursor: pointer;
 }
 .loginbutton{
     padding-left: 450px;
     }
.loginbutton i{
    padding-right: 8px;
}
 .menu h1{
    color: white;
 }
 .head-banner{
     display: flex;
     flex-direction: row;
     padding-top: 60px;
     justify-content: space-evenly;
     align-content: center;
    align-items: center;
 }
 .head-banner img{
     height: 438px;
     width: 556px;
 }
 .head-banner h1{
     color:  #FFFFFF;
     font-size: 48px;
 }
.watch-btn button {
     color:#FFFFFF;
    background-color: #E02C6D;
    border: none;
    height: 44px;
    width: 168px;  
    cursor: pointer;  
 }
 .watch-btn i{
     padding-left: 12px;
 }
 /* ---------------
 header css end 
 --------------- */

 /*----------------------
 player-details css start
  ----------------------- */
  .players{
      margin: 70px 180px 0px 180px;
      display: grid;
      grid-template: repeat(4, 456px)/repeat(3, 330px);
      grid-gap: 30px;
     justify-content: center;
  }
article{      
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .player-details{
      padding: 15px;
  }
  .player-details img{
    height: 256px;
    width: 300px;
}
.player-details a{
    text-decoration: none;
    color: #18191F;

}
.player-details h2{   
font-size: 28px;
font-weight: 700;
line-height: 30px;
text-align: left;
}
.player-details p{ 
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #6C6C6C;
}
/* ---------------------
player-details css end 
----------------- ------*/

/* ------------------
highlights css start
---------------------  */
.highlights{
    margin: 165px 182px 0px 253px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
   
}
.highlights h1, .gallery h1{ 
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
text-align: left;
}
.highlights p{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #6C6C6C;

}
.highlights img{
    height:427px ;
    width:567px ;
}
/* ------------------
highlights css end
---------------------  */


/* ---------------------
gallery css start 
---------------------  */

.gallery{
    margin: 165px 68px 0px 182px;

}
.gallery-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
}
.gallery-pic img{
    height: 350px;
    width: 400px;
    border: 5px solid #E02C6D ;
}
.gallery-pic a{
    text-decoration: none;
}
.gallery-pic h3{
    
    text-align: left;
    color:#6C6C6C ;
}
/* ---------------------
gallery css end 
---------------------  */


/* ---------------------
subscribe css start 
---------------------  */
.subscribe{
    margin: 70px auto 0 auto;
}
.subscribe h2{
    text-align: center;
    
}
.subs-box-n-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.subscribe input[type=text] {
    width: 38%;
    padding: 12px 20px;    
    border: 2.5px solid #c2396ba9 ;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;   
    /* transition: 0.5s; */
    outline: none;
    line-height: 2;
  }
  .subscribe input[type=text]:focus{
      border:2.5px solid  #E02C6D;
      box-shadow: #e02c6e71 0px 7px 29px 0px;
  }

   form .subscribe-btn {
    position: absolute;
    margin-left: 404px;
    color:#FFFFFF;
    background-color: #E02C6D;
    border: none;
    height: 47px;
    width: 163px;
    cursor: pointer;
    border-radius: 3px;
}
/* ---------------------
subscribe css end 
---------------------  */

/* ---------------------
footer css start 
---------------------  */
.footer-main{
    margin: 100px auto 56px auto;
}
.footer-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .logo img{
     height: 110px;
     width: 483.87px;
 }
 .social-icons{
    display: flex;
    flex-direction: row;
 }
.social-icons i{ 
    color:#969BAB;
    height: 32px;
    width: 32px;
    /* padding: 0 14px 0 0; */
}
.copyright p{
    font-size: 18px;
    line-height: 24px;
}
/* ---------------------
footer css end 
---------------------  */

/* ---------------------
    responsive
---------------------  */
@media screen and (max-width: 688px){

    /* header start  */
    .head-container{
        width: 100%;
        height: 1100px;
        
    }
    .menu{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0px 0px 0px 138px;
    }
    .loginbutton{
        padding: 0 0 0 25px;
    }
    .head-banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);  
        padding: 0px;
    }
    .heading-n-btn{
        padding:10px 0 0 129px;
    }
    .heading-n-btn h1{
        font-size: 36px;
    }
    .heading-image img{
        height: 259px;
        width: 329px;
        padding: 50px 0 0 74px;
    }
    /* header end  */

    /* player-details start  */
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    /* player-details end  */

    /* highlights start  */
    .highlights{
        margin:60px 0 60px 0;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:29px;
        padding:0 24px 0 44px;
    }
    .highlights  h1{
        font-size: 30px;
        line-height: 40px;
        
    }
    .highlights  p{
        font-size: 16px;
        line-height: 28px;
    }
    .highlights  img{
        width: 328px;
        height: 248px;
    }
    /* highlights end  */

    /* gallery start  */
    .gallery{
        margin:0;
        padding: 0 15px 0 44px;
    }
   
    .gallery h1{
        font-size: 30px;
        line-height: 40px;
    }
    .gallery-pic{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-pic img{
        width: 328px;
        height: 248px; 
    }
    .gallery-pic h3{
        font-size: 18px;
        line-height: 25px;
    }
    /* gallery end  */

    /* subscribe start  */
    .subscribe{
       margin: 10px 0 0 0;
    }
    .subscribe-items h2{
        font-size: 18px;
    }   
    .subs-box-n-btn{
        padding: 0px 142px 0px 0px;
      }
    .subscribe input[type=text] {
        width: 72%;
      }
    .subscribe .subscribe-btn{
        margin-left: 404px;
    }


}
